*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  color:black;
}
section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  width:100%;
  height:100%;
padding:50px 0;

}
section#s1{
  background: #6e6e99;
}
section#s2{
  background:rgb(29, 29, 82);
}
h2{
  color:white;
  text-transform:capitalize;
  font-weight:bold;
  margin-bottom:50px;
  text-align: center;
  text-shadow:1px 2px 2px rgba(0, 0, 0, 0.467);
  font-size:2.5rem;
}
form{
  width:50%;
  height:fit-content;
  display:flex;
  flex-direction:column;
  box-shadow:0px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding:80px 40px;
  border-radius:10px;
  background:white;
}
.form-group{
  margin-bottom:20px;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-items:space-between;
  width:70%;
  margin:0 auto;
  margin-bottom:10px;
}
label{
font-size:1rem;
text-transform:capitalize;
color:black;
width:230px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  height:30px;
  width:150px;
  padding:0 5px;
  display: inline-flex;
  justify-content: flex-end;
}
select{
  width:150px;
  height:30px;
  padding:5px;
  background:transparent;
}
button  {
  width: 160px;
  height: 40px;
  background-color:  blue;
  color: #ffffff;
  font-size:0.85rem;
  border-radius:25px;
  border:none;
  font-weight:bold;
  text-transform: capitalize;
  cursor: pointer;
  margin:10px auto;

}
button:focus{
  background-color: rgb(192, 199, 209);
  outline:none;
}
button:hover{
  background-color: rgb(95, 131, 182);
  outline:none;
  color:blue;
}  

#table{
  width:50%;
  margin-top:2rem;
  border-collapse: collapse;
  border-spacing:0;
  border:0.5px solid red;
  background:white;
  color:black;
}
#table thead th{
  text-transform: uppercase;
  padding:0.5rem;
  text-align: center;
  font-size:0.85rem; 
  font-family: 'Roboto', sans-serif;
  color:rgba(0, 0, 0, 0.93);
}
#table thead.output, .output{
  border:0.5px solid red;
}
#table tbody tr td{
text-align: center;
padding:0.5rem 0.8rem;
text-transform:capitalize;
border:0.5px solid red;
font-size:0.85rem;
color:black;
}
#table tbody tr td:first-child{
  text-align:left;
}
#table tbody td:nth-child(2){
  color:#0f3d0f;
  font-weight:bold;
}
#table tbody td:nth-child(3){
  color:#562c2c;
  font-weight:bold;
}
#table tbody tr:nth-child(odd){
  background:rgba(153, 153, 153, 0.618);
}
@media only screen and (min-width:481px) and (max-width:768px){
  section{
    padding:50px 20px;
  }
  form{
    width:80%;
    padding:50px 0;
  }
  h2{
    font-size:1rem;
    margin-bottom:20px;
  }
  .form-group{
    margin-bottom:30px;
  }
  label{
  font-size:0.85rem;
  width:180px;
  }
  #table{
    width:70%;
  }
}
@media only screen and (max-width:480px){
  section{
    padding:50px 10px;
  }
  form{
    width:100%;
    padding:30px 0;
    margin:0 auto;
  }
  h2{
    font-size:1rem;
    margin-bottom:20px;
  }
  .form-group{
    margin-bottom:20px;
    width:90%;
  }
  label{
  font-size:0.85rem;
  width:180px;
  }
  input, select{
    width:120px;
  }
  button  {
    width: 120px;
    height: 40px;
    font-size:0.75rem;
  }
  
  #table{
    width:100%;
    margin:0 auto;
  }
  #table thead th{
    font-size:0.6rem;
    padding:0.2rem 0.1rem;
  }
  #table tbody tr td{
    padding:0.2rem 0.1rem;
    font-size:0.8rem;
    }
}
